<%= form_for(@alibi) do |f| %>
  <% if @alibi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alibi.errors.count, "error") %> prohibited this alibi from being saved:</h2>

      <ul>
      <% @alibi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dep_time %><br>
    <%= f.datetime_select :dep_time %>
  </div>
  <div class="field">
    <%= f.label :route_object %><br>
    <%= f.text_field :route_object %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
