<p id="notice"><%= notice %></p>

<p>
  <strong>Twidt:</strong>
  <%= @twicont.twidt %>
</p>

<p>
  <strong>Twict:</strong>
  <%= @twicont.twict %>
</p>

<p>
  <strong>Alibi:</strong>
  <%= @twicont.alibi_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @twicont.user_id %>
</p>

<%= link_to 'Edit', edit_twicont_path(@twicont) %> |
<%= link_to 'Back', twiconts_path %>
